client {
  enabled = true
  network_interface = "{{ network_interface }}"
  server_join {
    retry_join = [
      "127.0.0.1"
    ]
    retry_max = 3
    retry_interval = "15s"
  }
  host_volume "host-data" {
    path      = "/opt/data"
    read_only = false
  }
}
